<html>

<head>

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <title>Invisible Women</title>
    <link rel="icon" type="image/png" href="/static/gracehopper.png">      
</head>

<script>
    function convertName(name) {
        var replaced = name.split(' ').join('+');
        return replaced;
    }
     $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>

<body style="background:url('https://img00.deviantart.net/da64/i/2008/306/e/b/starry_sky_stock_by_budgie.jpg')">
    <div class="topcorner">
        <p style="font-size: 15px; font-family:Futura; color: grey">Project Name: Invisible Women</p>
        <p style="font-size: 15px; font-family:Futura; color: grey">May Zhou (mz278)</p>
        <p style="font-size: 15px; font-family:Futura; color: grey">Amanda Chen (aec255)</p>
        <p style="font-size: 15px; font-family:Futura; color: grey">Pegah Moradi (pm443)</p>
        <p style="font-size: 15px; font-family:Futura; color: grey">Nina Ray (nr327)</p>
        <p style="font-size: 15px; font-family:Futura; color: grey">Jerica Huang (jh2263)</p>
    </div>
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #fff">
              <a href="https://invisiblewomen.herokuapp.com/" id="homelink">Find a woman in STEM who...</a>
        </h1>
        <br>
        <br>
        <div class="form-group">
            <!--<input id="input" type="text" name="search" class="form-control" placeholder="e.g. worked at NASA">-->
            <input id="input" type="text" name="search" minlength="5" placeholder="e.g. is a physicist">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>

    <form class="form-inline global-search">
        {% if data %}
        <h1 style="font-size: 28px; font-family:Futura; color: #fff">{{output_message}}</h1> 
        <table>
            {% for d in data %}

            {% if d.name %}
            <tr>
                <td class="bio">
                    <span class="name">{{d.name}}</span><span class="views">
                        <i class="fas fa-eye" title="Wikipedia views over the past week"></i>&nbsp;&nbsp;{{d.views}}</span>
                    <br>
                    <span class="summary">{{d.summary}}</span>
                </td>
                <td>
                    {% if d.similar %}
                    Similar women
                    <ol>
                        {% for similars in d.similar %}
                        <li>{{similars}}</li>
                        {% endfor %} 
                    </ol>
                    {% endif %}
                </td>
            </tr>

            {% else %}
            <p style="font-size: 20px; font-family:Futura; color: #fff">
                {{d}}
            </p>
            {% endif %}
        
        {% endfor %} 
        </table>
        {% endif %}
    </form>

    <div id="bottomcorner">
        {% if data %}
        <img src="/static/gracehopper.png" height=200 draggable=false>
        {% else %}
        <img src="/static/gracehopper-info.png" height=700 draggable=false>
        {% endif %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("button").click(function () {
            $("#bottomcorner").fadeOut();
        });
    });
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>

</html>